@require 'styles'

.bp-main-content
    width 100%
    display: flex
    flex-direction: row

    .bp-menu
        background-color #f8f8f8
        width 150px
        min-height 500px
        border-right 1px solid #e7e7e7

    .bp-items
        flex-grow 1

        .glyphicon
            margin-right 5px 

    .nav
        li
            .glyphicon
                margin-right 5px 
