body {
    background-color: #eee;
    margin: 10px;
    font-family: monospace;
}

.bp-container {
    /*display: flex;*/
}

.bp-content {
    margin: 3px;
}

.bp-header {
    padding-left: 3px;
}

.bp-menu {
    list-style: none;
}

.bp-menu li {
    display: inline-block;
    cursor: pointer;
    padding: 3px 10px 3px 3px;
}

.bp-menu li:hover {
    background-color: gray;
}

.bp-form {
    margin-top: 10px;
}

.bp-error {
    color: #aa0000;
}

.disabled {
    color: #aaa;
}

.bp-content {

}

.bp-form-field {
    margin-bottom: 10px;
}

h2 {
    font-size: 15px;
}

table {
    border-collapse: collapse;
}

thead {
    background-color: #e0e0e0;
}

td, th {
    border: 1px solid #aaa;
    padding: 2px;
}

.bp-icon-delete, .bp-icon-save {
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
}

.bp-icon-delete {
    color: #ff0000;
}

.bp-icon-save {
    color: green;
}





